#include "../hdr/resource.h"

// Core
IDR_BEST_ONNX   RCDATA  "best.onnx"
IDR_DRIVER_SYS  RCDATA  "Driver.sys"
IDR_MAPPER_EXE  RCDATA  "mapper.exe"

// Embedded DLLs
IDR_DLL_DIRECTML              RCDATA  "DirectML.dll"
IDR_DLL_ABSEIL                RCDATA  "abseil_dll.dll"
IDR_DLL_AVCODEC               RCDATA  "avcodec-62.dll"
IDR_DLL_AVDEVICE              RCDATA  "avdevice-62.dll"
IDR_DLL_AVFILTER              RCDATA  "avfilter-11.dll"
IDR_DLL_AVFORMAT              RCDATA  "avformat-62.dll"
IDR_DLL_AVUTIL                RCDATA  "avutil-60.dll"
IDR_DLL_DATE_TZ               RCDATA  "date-tz.dll"
IDR_DLL_JPEG62                RCDATA  "jpeg62.dll"
IDR_DLL_LIBCURL               RCDATA  "libcurl.dll"
IDR_DLL_LIBLZMA               RCDATA  "liblzma.dll"
IDR_DLL_LIBPNG16              RCDATA  "libpng16.dll"
IDR_DLL_LIBPROTOBUF_LITE      RCDATA  "libprotobuf-lite.dll"
IDR_DLL_LIBPROTOBUF           RCDATA  "libprotobuf.dll"
IDR_DLL_LIBPROTOC             RCDATA  "libprotoc.dll"
IDR_DLL_LIBSHARPYUV           RCDATA  "libsharpyuv.dll"
IDR_DLL_LIBWEBP               RCDATA  "libwebp.dll"
IDR_DLL_LIBWEBPDECODER        RCDATA  "libwebpdecoder.dll"
IDR_DLL_LIBWEBPDEMUX          RCDATA  "libwebpdemux.dll"
IDR_DLL_LIBWEBPMUX            RCDATA  "libwebpmux.dll"
IDR_DLL_ONNXRUNTIME           RCDATA  "onnxruntime.dll"
IDR_DLL_ONNXRUNTIME_PROVIDERS RCDATA  "onnxruntime_providers_shared.dll"
IDR_DLL_OPENCV_CALIB3D        RCDATA  "opencv_calib3d4.dll"
IDR_DLL_OPENCV_CORE           RCDATA  "opencv_core4.dll"
IDR_DLL_OPENCV_DNN            RCDATA  "opencv_dnn4.dll"
IDR_DLL_OPENCV_FEATURES2D     RCDATA  "opencv_features2d4.dll"
IDR_DLL_OPENCV_FLANN          RCDATA  "opencv_flann4.dll"
IDR_DLL_OPENCV_HIGHGUI        RCDATA  "opencv_highgui4.dll"
IDR_DLL_OPENCV_IMGCODECS      RCDATA  "opencv_imgcodecs4.dll"
IDR_DLL_OPENCV_IMGPROC        RCDATA  "opencv_imgproc4.dll"
IDR_DLL_OPENCV_ML             RCDATA  "opencv_ml4.dll"
IDR_DLL_OPENCV_OBJDETECT      RCDATA  "opencv_objdetect4.dll"
IDR_DLL_OPENCV_PHOTO          RCDATA  "opencv_photo4.dll"
IDR_DLL_OPENCV_STITCHING      RCDATA  "opencv_stitching4.dll"
IDR_DLL_OPENCV_VIDEO          RCDATA  "opencv_video4.dll"
IDR_DLL_OPENCV_VIDEOIO        RCDATA  "opencv_videoio4.dll"
IDR_DLL_PDCURSES              RCDATA  "pdcurses.dll"
IDR_DLL_PKGCONF               RCDATA  "pkgconf-7.dll"
IDR_DLL_RE2                   RCDATA  "re2.dll"
IDR_DLL_SWRESAMPLE            RCDATA  "swresample-6.dll"
IDR_DLL_SWSCALE               RCDATA  "swscale-9.dll"
IDR_DLL_TIFF                  RCDATA  "tiff.dll"
IDR_DLL_TURBOJPEG             RCDATA  "turbojpeg.dll"
IDR_DLL_ZLIB1                 RCDATA  "zlib1.dll"
